@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Host Grotesk", sans-serif;
}


:root {
    --sb-track-color: #2f2f2f;
    --sb-thumb-color: #7b7b7b;
    --sb-size: 8px;
  }
  
  ::-webkit-scrollbar {
    width: var(--sb-size)
  }
  
  ::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 7px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 7px;
  }
  
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }


  .parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
}
    
.div1 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
}
        
        